//Colors
$primary: #5c62c5;
// $primary: #640645;
// $primary: #959696;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$facebook-blue: #254475;
$button-active-blue: #1669f2;
$yellow: #f3e567;
$red: #fa6ba2;
$blue: #9bedf8;
$violet: #da00f7;
